apiVersion: apps/v1
kind: Deployment
metadata:
  name: "todo"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: "todo-app"
  template:
    metadata:
      annotations:
      labels:
        app: "todo-app"
    spec:
      containers:
         - image: {{ .Values.image }}
           imagePullPolicy: Always
           name: "todo-app"
           ports: 
            - containerPort: 5000