apiVersion: apps/v1
kind: Deployment
metadata:
  name: "todo-app"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: "todo-app"
  template:
    metadata:
      labels:
        app: "todo-app"
    spec:
      containers:
      - image: {{ .Values.image }}
        name: "todo-app"
        env:            
          - name: DBHOST
            value: {{ .Values.dbhost }}
        ports: 
        - containerPort: 5000